*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ember-light;
    /* font-family: "Amazon Ember", Arial, sans-serif; */

 
}
@font-face {
    font-family: ember-medium;
    src: url(fonts/Ember/Amazon-Ember-Medium.ttf);
}
@font-face {
    font-family: ember-light;
    src: url(fonts/Ember/AmazonEmber_Rg.ttf);
}
@font-face {
    font-family: ember-bold;
    src: url(fonts/Ember/AmazonEmber_Bd.ttf);
}
@font-face {
    font-family: ember-H;
    src: url(fonts/Ember/AmazonEmber_He.ttf);
}
body{
    margin: 0;

    padding: 0;
}

/*--------------------------------------------Home Page Header-------------------------------------------------------*/
.header{
    background-color: rgb(19, 25, 33);
    height: 80px;
    color: #fff;

}
.container{
    width: 99%;
    height: 100%;
    margin: auto;
}
.container-header{ 
    display: flex;
    align-items: center;
}
.container-logo{
    height: 70px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}
.logo{
    height: 70px;
     width: 180px;
    background:url("https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-reorg-privacy._CB600086755_.png");
    background-repeat: no-repeat;
    background-position-y:-165px ;
  

}

.dotin{
    position: relative;
    margin-left: -7px;
    font-family: ember-light;
    
}

.border-white{
    border: 1.5px solid transparent;
}
.border-white:hover{
    border: 1.5px solid #fff;
}
/* ------------------------------------------- Address Container-------------------------------------------*/
.location-logo{
  
    display: flex; 
    align-items: center;
    margin-right: 5px;
    
   
}
.address-container {
 
margin-left: 15px;
padding: 2px 2px;
    font-size: 0.8rem;

 

}
.address-container p{
    
    margin: 0;
 

}
.pin{
    font-family: ember-H;
}
.deliver{
    color: #ccc;
padding-left: 25px;
font-family: ember-light;
}
/*--------------------------------------------Search Container--------------------------------------------*/
.search-container{
    background-color: red;
    margin-left: 25px;
    width: 600px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
     overflow: hidden;
}
.search-container:hover{
    outline: 3px solid rgb(235, 160, 94);
}
.search-select{
    width: 60px;
    border: none;
    padding-left: 10px;
    color: grey;
    outline: none ;
    font-family: ember-light;
    background-color: rgb(230, 227, 227);
    
 

}
.search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-family: ember-light;
    font-size: 1.1rem;
    padding-left: 12px;

}
.search-input::placeholder{
    font-size: 1rem;

}
.search-icon{
    width: 40px;
    background-color: rgb(235, 160, 94);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}
/*--------------------------------------------Language Container--------------------------------------------*/
.language-container {
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    width: 70px;
    justify-content: center;
    align-items: center;

    height: 40px;
}
.image-lang{
margin-right: 5px;
    width: 15px;
    justify-content: center;
    align-items: center;
    height: 16px;
}
.arrow{
width: 18px;
color: grey;
}
/*--------------------------------------------Account Container--------------------------------------------*/
.account-container{
    padding: 4px ;
    margin-left: 10px;
    margin-top: 20px; 
}
.arrow-account{
    width: 18px;
    color: grey;
  
    
    }
.name{
    font-family: ember-light;
    font-size: 0.8rem;
    margin: 0;
}
.account-list{
    font-family: ember-bold;
    margin: 0;
    font-size:15px;
}
/*--------------------------------------------Return Container--------------------------------------------*/
.return-container{
    padding: 4px;
    margin-left: 4px;
    margin-top: 20px;

     
}
/*--------------------------------------------Cart Container--------------------------------------------*/
.cart-container{
    display: flex;
    position: relative;
    padding: 2px;
    margin-left: 12px;
    margin-top: 26px;
}
.num{
    color: orange;
    position: absolute;
    display: flex;
    top: 0;
    margin-left: 6px;
    margin-top: 6px;
    font-size: 12px;
}
.cart-icon{
    size:18px;
}
/*--------------------------------------------Navigation Bar--------------------------------------------*/

.nav{
    height: 40px;
    background: #232f3d;
    margin: 0;
   
   

}
.nav-container{
    align-items: center;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}
.nav-container ul{
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.9rem; 
    color: #fff; 
    list-style: none;
}
.nav-container ul li{
    padding: 6px;
   
}
.nav-container ul li a{
  text-decoration: none;
  color: #fff; 
  font-size: 0.9rem; 
  /* padding: 0px 3px; */
  padding-left: 5px;
   
} 
.prime{
    size: 6px;
}
.nav-right-img{
   min-width: 400px;
    height: 35px;
    max-width: 500px;
   
    }
    .border-orange{
        border: 2px solid orange;
    }
    .border-orange:hover{
        border: 1px solid #fff;
    }


.nav-right-img img{
    width: 100%;
    height: 100%;
    padding: 2px;
}
.history-hover{
    background-color: white;
    height: 220px;
    width: 100%; 
    display: none;
  
    left: 0; /* Adjust position if needed */
transition: display 1s;
    position: absolute;
    z-index: 1;
    margin-top: 12px;
    padding: 4px;
}
.history-browse:hover .history-hover   {

    display: block;
    transition: display 1s;

  
}
.browse-image{
    display: flex;
    margin-top: 2px;
    overflow: hidden;
    padding-top: 20px;
  
}

.nav-timeline-line {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    border-top: 10px solid #f3f3f3;
    float: left;

    width: 100%;
}
.nav-timeline-dot {
    width: 10px;
    height: 10px;   
    border-radius: 50%;
    background-color: #ff9a01;
    position: absolute;
    left: 66px;
    top: -10px;

}
.nav-timeline-asin-title{
    padding: 10px 5px 0;
    text-align: left;
    cursor: pointer;
    line-height: 17px;
    display: block;
    width: 165px;
    font-size: 13px;
    white-space: normal;
    height: 45px;
    color: #555;
    font-family: inherit;
    overflow: hidden;
}
.nav-timeline-img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
    border: none;
}

.scroll{
    position: absolute;
    top: 40px;
    
    display: flex;
    justify-content: end;
    align-items: center;
    
    width: 100%;
padding-right: 10px;

}

.scroll-cntr{
    box-shadow: -2px -2px 2px white,2px 2px 2px white;
    align-items: center;
    padding: 20px 15px;

    background-color: #ccc;
  border: none;
    color: #000;
    }
  
    /*--------------------------------------------SideBar Navigation--------------------------------------------*/
    .sidebar-wrap{
        height: 100%;
        overflow: auto;
        padding-bottom: 100px;
    }
    .sidebar-container{
        background-color: transparent;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        transform: translateX(-100%);
        display: flex;
        transition: transform 0.3s;

    }
    .sidebar-show{
        transform: translateX(0%); 
        background-color: rgba(0, 0, 0,0.7);
       
    }
    .sidebar-left{
        background-color: white;
        width: 375px;
        height: 100%;
        box-sizing: 5px 5px 10px rgba(0,0,0,0.8);
    }
    .sidebar-top{
        display: flex;
        align-items: center;
        padding: 10px;
        padding-left: 50px;
       
      background: #232f3d;
        color: #fff;
    }
    .sidebar-top h2{
      margin: 0;
      font-size: 22px;
      
     
    }
    .sidebar-top i {
        padding-right: 10px;
        font-size: 22px;
       
      }
      .sidebar-items{
        padding-top: 20px;
        padding-bottom:  15px;
        padding-left: 50px;
        border-top: 1.5px solid #ccc;
     
        width: 100%;

      }
      .sidebar-items i{
        float: right;
        padding-right: 20px;

      }
      .sidebar-items h2{
        font-size: 20px;
        font-family: ember-bold;

      }
      .sidebar-items p{
        color: rgb(52, 49, 49);font-size: 14px;
        font-family: ember-light;
        padding: 10px;

      }
      #sidebar-close{
        align-self: self-start;
        font-size: 30px;
        background-color: transparent;
        border: none;
        color: white;
        padding: 20px;
        cursor: pointer;
      }
/*--------------------------------------------Image Slider--------------------------------------------*/
.image-slider{
    position: relative;
}
.image-slider-list{
display: flex;
overflow: hidden;
}
.image-item{
min-width: 100%;
height: 600px;
transform: translateX(-300%);
transition: transform 0.3s ;
}
.image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*--------------------------------------------Slide Button--------------------------------------------*/
.image-btn{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.btn-cntr{
border: 1px solid transparent;
padding: 100px 20px;
font-size: 50px;
font-weight: 300;
background-color: transparent;
color: #000;
}
.btn-cntr i .icons{
       box-shadow: -2px -2px 2px white,2px 2px 2px white;
    }
.btn-cntr:focus{
    border-color: seagreen;
    box-shadow: -2px -2px 2px white,2px 2px 2px white;
    margin: 2px;
    
    }
    .btn-cntr{
        border: 1px solid transparent;
        padding: 100px 20px;
        font-size: 50px;
        font-weight: 300;
        background-color: transparent;
        color: #000;
        }
/*----------------------------Product Card Grids-----------------------*/
.main{
    position: relative;
    top: -300px;
    margin: 0;
    padding: 0;
}
.product-card-container{
    padding: 15px ;
    display: flex;
    justify-content: space-between;
    
}
.product-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
  /* max-width: 310px;
  padding:10px; */
  /* box-shadow: -50px 0px 40px rgba(255, 255, 255,0.5),50px 50px 40px rgba(255, 255, 255,0.5); */
  box-shadow: -5px -5px 10px rgba(0, 0, 0,0.1),5px 5px 10px rgba(0, 0, 0,0.1);

}
.product-card h2{
    margin: 0;
    padding: 5px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: ember-bold;
    

}
/*----------------------------Prime Video-----------------------*/
.prime-card {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    max-width: 48%;
    position: relative;
    box-shadow: -5px -5px 10px rgba(0, 0, 0,0.1),5px 5px 10px rgba(0, 0, 0,0.1);
  
  }
  .prime-text{
    position: absolute;
    font-size: 14px;
    display: flex;
    font-weight: bolder;
    font-family: ember-bold;
    padding-left: 20px;
    color: white;
    flex-direction:row;
    
    
      }
      .prime-text-end{
      
        position: absolute;
        bottom: -300px;
    
      }
      .prime-card img{
        width: 100%;
        height: 100%;
      
      }

      /*----------------------------Related Items / Fashion / Cushion Container-----------------------*/
  .related-items{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    box-shadow: -5px -5px 10px rgba(0, 0, 0,0.1),5px 5px 10px rgba(0, 0, 0,0.1);

  }


.crad-four-grid{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-grid p{
    margin: 5px;
    font-family: ember-light;
    font-size: 14px;
}
.card-grid img{
    width: 150px;
    height: 131px;
    object-fit:contain;
   
    
    
}
.two-row{
   
    display: flex;
   
    

    flex-wrap: wrap;
     justify-content:center;
}
.four-row{
height: 130px;
width: 350px;
margin-bottom: 20px;
justify-content: center;
display: flex;
object-fit:fill;



}
.four-row-four{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.four-row p{
    margin: 5px;
    font-family: ember-light;
    font-size: 14px;
}
.four-row img{
    width: 150px;
    height: 131px;
    object-fit:cover;
   
   
}
.four-row-four p{
    margin: 5px;
    font-family: ember-light;
    font-size: 14px;
}
.four-row-four img{
    width: 75px;
    height: 80px;
    object-fit:contain;
    display: flex;
   
  margin-right:5px ;
    padding: 2px 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.one-border{
    border: 4px solid #007185;
    border-radius: 6px;
    
}
.viewed{
    font-size: 12px;
    color: grey;
}
.grid-btn{
    font-size: 13px;
    align-self: self-start;
    margin: 7px 10px;
    background-color: transparent;
    padding-left: 0;
    border: none;color: #007185;
}
.grid-btn:hover{
 
    /* border-bottom: 2px solid red; */
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.grid-row{
    width: 25%;
   
}
.grid-two-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    max-width: 320px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0,0.1),5px 5px 10px rgba(0, 0, 0,0.1);
    
}
.grid-two{
    display: flex;
    width: 200px;
    height: 180px;
  padding: 20px;
  align-items: center;
    object-fit:contain;
    flex-direction: row;
      justify-content: space-between;
   
}
.grid-phone{
  
    width: 100%;
    height: 100%;
  
   
   
}
.text p{
    width: 200px;
    height: 100px;
}

.grid-phone img{
    width: 100%;
    height: 100%;
   
   
   
}
.grid-two img{
    width: 100px;
    height: 150px;
    padding-right: 10px;
    object-fit:contain;
   
    
    
}
.explain{
    height: 100px;
}
.explain p{
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    font-size: 11px;
   
}

.reg-btn{
    font-size: 13px;
    align-self: self-start;
    margin: 20px;

    background-color: transparent;
    padding-left: 0;
    border: none;color: #007185;
}
.related-items-container{
    padding: 15px ;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;

}

.related-items-image{
    display: flex;
    margin-top: 2px;
    overflow: hidden;
    padding-top: 20px;
    justify-content: space-evenly;
  
}

.related-items-image img{
   
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding: 0px 20px;
    padding-bottom: 20px;
}

.scroll-related{
    position: absolute;
    top: 80px;
    
    display: flex;
    justify-content: end;
    align-items: center;
   
    width: 100%;
padding-right: 10px;

}
.scroll-related-left{
    position: absolute;
    top: 120px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
padding-right: 10px;
padding-left: 10px;

}

.scroll-related-cntr {

    box-shadow: -2px -2px 2px white,2px 2px 2px white;
    align-items: center;
    padding: 50px 25px;
    display: none;
    background-color: #f5f0f0;
  border: none;
    color: #000;
    
    }
    .scroll-related-cntr i {
        font-size: 20px;
    }
    .fashion-items-container:hover  .scroll-related-cntr {
        display: flex;
    }
    .kitchen-items-container:hover .scroll-related-cntr {
        display: flex;
    }
    .live-items-container:hover .scroll-related-cntr {
        display: flex;
    }
    .related-items h2 {
        margin: 0;
        font-size: 19px;
        padding-left: 20px;
        padding-top: 15px;
    
        
    }
    .fashion-items-image{
        display: flex;
        margin-top: 2px;
        overflow: hidden;
        padding-top: 20px;
        
        justify-content: space-evenly;
      
    }
    .kitchen-items-image {
        display: flex;
        margin-top: 2px;
        overflow: hidden;
        padding-top: 20px;
        
        justify-content: space-evenly;
      
    }
    .kitchen-items-image img{
       
        width: 250px;
        height: 100%;
        justify-content: space-evenly;
        padding: 0px 20px;
        padding-bottom: 20px;
    }
    .fashion-items-container{
        padding: 15px ;
        display: flex;
        width: 100%;
        height: 400px;
     
       
        justify-content: space-evenly;
    
    }
   
    .kitchen-items-container{
        padding: 15px ;
        display: flex;
        width: 100%;
        height: 300px;
     
        justify-content: space-evenly;
    
    }
    .fashion-items-image img{
       
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        padding: 0px 20px;
        padding-bottom: 20px;
    }
    .price  i{
            font-size: 12px;
    }
    .price  {
        font-family: ember-light;
            }

                /*----------------------------One Video Container-----------------------*/

.video-card-container{
    padding: 15px ;
    display: flex;
    justify-content: space-between;

    
    
}
.video-card {
  display: flex;
  background-color: white;
height: 400px;
width: 70%;

  justify-content: center;
 
  
  box-shadow: -5px -5px 10px rgba(0, 0, 0,0.1),5px 5px 10px rgba(0, 0, 0,0.1);

}
.video-card img{
    display: flex;
 width: 100%;
 height: 100%;
 padding: 5px 5px;
  
  }

                /*----------------------------4 Grid Container-----------------------*/
  .price-container {
    display: flex;
   
}

.price-color   {
    color: gray;
  
   
}
.card-border {
    border: 0.5px solid black;
    border-radius: 6px;
   
    
    
}

.card-grid-one p{
    margin: 5px;
    font-family: ember-light;
    font-size: 14px;
}
.card-grid-one img{
    width: 100%;
    height: 100%;
    padding: 12px;
    object-fit:contain;
   
    
    
} 

                /*----------------------------Amazon liveContainer-----------------------*/
 .live-items-container{
  
       
        display: flex;
        width: 100%;
        height: 440px;
     
        justify-content: space-evenly;
    
        padding: 15px ;
        
                
 }

 .live-items{
    display: flex;
  
    background-color: white;
    /* flex-direction: row; */
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    box-shadow: -5px -5px 10px rgba(0, 0, 0,0.1),5px 5px 10px rgba(0, 0, 0,0.1);

  }
  .live-items h2 {
    margin: 0;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 15px;
  
display: flex;
    
}

.live-items-image {
    display: flex;
    margin-top: 2px;
    overflow: hidden;
   flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px ;
    height: 100%;

  
}
.live-items-image img{
   
    width: 140px;
    height: 60%;
    display: flex;
   justify-content: center;
    align-items: center;
  
  
   margin: 5px 5px;
    padding: 20px 20px;
   
}
.large-live-price{
   
   
  
  font-size: 12px;
    padding: 0px 12px;
  
   
}
.live{
    font-size: 20px;
    width: 180px;
    max-width: 300px;
    height: 100%;
    padding-bottom: 20px;
    margin: 5px 5px;
  
    border: 0.5px solid #ccc;
    border-radius: 6px;
    
}
.live-video iframe{
    display: block;
    padding: 20px;
    position: absolute;
   left: -5px;
   top: 70px;
   
   
}

.live-price{
    padding: 0px 12px;
    font-size: 18px;
    color: #000;
    font-family: ember-light;
}
.live-price-grey{
    padding: 0px 12px;
    padding-bottom: 20px;
    font-size: 13px;
    color: grey;
    font-family: ember-light;
}
  /*----------------------------Today's Best Deals  Container-----------------------*/
  .today-deals-container{
    margin: 20px;
    padding: 4px 4px;
  
    box-shadow: -2px -2px 5px rgba(0,0,0,0.1),2px 2px 5px rgba(0,0,0,0.1);
  }
  .todays-deal-product-container{
    height: 240px;
    position: relative;
    overflow-x: auto;
      }
  .todays-deal-heading{
display: flex;
align-items: center;
padding: 2px 20px;
  }
  .todays-deal-heading p a{
   color: #007185;
   text-decoration: none;
   padding-left: 20px;
      }
      .todays-deal-heading p a:hover{

        text-decoration: underline;
    
           }
  
  .todays-deal-product-list{
    /* max-width: 400px; */
    display: flex;
    /* position: fixed; */
  
    /* overflow: hidden; */
    /* margin: 50px; */

  }
  .todays-list-product-item{
    min-width: 180px;
width: 200px;
padding: 20px 10px;

/* height: 250px;
padding: 0px 10px;
margin-right: 10px;*/
transform: translateX(0%); 
transition: transform 2s;



  }
  .todays-list-product-item img{
    width: 100%;
 /* min-height:180px; */
    padding: 12px 12px;
    object-fit: cover;
    /* object-position: left; */

    
      }
      /* .discount-container{
    
      } */
      .discount-container a{
        color:red;
        padding: 5px 10px;
        font-size: 13px;
        text-decoration: none;
      }
      .discount-container a:first-child{
            background-color: red;
            color: #fff;
            padding: 5px 10px;
            font-weight: 550;
            text-decoration: none;
            border-radius: 3px;
            font-size: 12px;
        
      }
      .todays-deal-btn-container{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            z-index: 10;
      }
     .today-deal-btn{
        padding: 40px 30px;
        border: none;
        outline: none;
        color: rgb(101, 83, 83);
        background-color: rgb(225, 225, 225,0.4);
        font-size: 30px;
     }
     /*---------------------Footer-------------*/
     .footer-container{
        margin: 0;
        padding: 0;
        
     }
     .footer-container-first{
        height: 70px;
        width: 100%;
        margin-top: 100px;
        background-color:#404347 ;
        color: #fff;
        padding: 2-px 20px;
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
     }
     .footer-container-second{
        height: 300px;
        width: 100%;
     
        background-color:#232f3d ;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
     }
     .footer-container-last{
        height: 250px;
        background-color: #000;
        clear: both;
        position: relative;
     
        margin-top: -300px;
     }
     .list-footer-items{
        color: white;
        width: 250px;
        padding-right: 20px;
        justify-content: space-around;
        margin-top: 20px;
    
     }
     .list-footer-items h2{
        font-size: 17px;
        padding-bottom: 30px;

     }
     .list-footer-items ul{
       padding-bottom: 10px;
        font-size: 11px;
      

     }
     .list-footer-items ul:hover{
        text-decoration: underline;
       
 
      }
     .list-footer-items ul a{
        padding-bottom: 2px;
         font-size: 12px;
         gap: 40px;
         text-decoration: none;
         color: white;
       
 
      }
      .language-footer{
        height: 70px;
        width: 100%;
        background-color:#232f3d ;
        border-top: 1.5px solid #413f3f;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        gap: 50px; /* Space between icon and text */
        justify-content: center;
      }
      .language-amazon img{
        width: 100px;
        height: 40px;
     
      }
      .flag-language{
        width: 15px;
        height: 15px;
      }
      .language-english {
        display: flex;
        padding: 0px 10px;
       border: 0.1px solid rgb(251, 242, 242);
        align-items: center;
        gap: 8px; /* Space between icon and text */
    }

    .language-english i {
        font-size: 16px; /* Adjust icon size */
    }

    .language-english p {
        margin: 0;
        font-size: 16px; /* Adjust text size */
    }
    .up-down{
        color:#1d2020
    }
    .footer-last{
       
        display: flex;
    }
    .footer-last-row{
padding: 20px;
        display: flex;
        justify-content:center;
       

    }
    .footer-last-column-first{
        height: 50px;
        width: 150px;
    }
    .head-column:hover{
        text-decoration: underline;
    }
    .head-column{
        margin: 0;padding: 4px;
        font-size: 13px;
        text-decoration: none;color: #fff;
    }.footer-last-column-first span{
        margin: 0;padding: 0;font-size: 10px;
        text-decoration: none;color: #736d6d;
    }
    .footer-last-column-second{
        margin: 10px;
        display: flex;justify-content: center;align-items: center;
        flex-direction: column;
    }
    .footer-last-column-second-a a{
   
      padding: 4px 4px;
        align-items: center;
        gap: 8px; 
        font-size: 10px;
        color: white;
        text-decoration: none;
    }
    .footer-last-column-second-a a:hover{
          text-decoration: underline;
      }
    .footer-last-column-second p{
        color: white;
        font-size: 10px; padding: 2px 4px;
        align-items: center;
        justify-content: center;
    }